appnope==0.1.4
asn1crypto==1.5.1
asttokens==3.0.1
boto3==1.42.47
botocore==1.42.47
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
filelock==3.21.0
fonttools==4.61.1
idna==3.11
ipykernel==7.2.0
ipython==9.10.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jmespath==1.1.0
jupyter-client==8.8.0
jupyter-core==5.9.1
kiwisolver==1.4.9
matplotlib==3.10.8
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
numpy==2.4.2
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
pip==26.0
platformdirs==4.6.0
polars==1.38.1
polars-runtime-32==1.38.1
prompt-toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==23.0.0
pycparser==3.0
pygments==2.19.2
pyjwt==2.11.0
pyopenssl==25.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyyaml==6.0.3
pyzmq==27.1.0
requests==2.32.5
s3transfer==0.16.0
seaborn==0.13.2
six==1.17.0
snowflake-connector-python==4.3.0
sortedcontainers==2.4.0
stack-data==0.6.3
tomlkit==0.14.0
tornado==6.5.4
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
